@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Sora', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #f8fafc;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }

  scrollbar-width: thin;

  scrollbar-color: #888 #f1f1f1;
}
